html{
    font-size: 16px;
   
}

*, *:before, *:after {
  box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;

}

.container{
    background-color: grey;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.product{
    width: 250px;
    height: 400px;
    padding: 10px;
    margin: 5px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 2px;
}

.cart {
   position:fixed;
   /*left:0px;*/
   /*margin 0px auto;*/
   bottom:0px;
   height:40%;
   width:89%;
   padding: 10px;
   background:lightblue;
}

.cart-image img{
    height: 200px;
    width: 200px;
}

.cart-contents{
     display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cart-items{
    margin-left: 20px;
}

table {
    border-collapse: collapse;
}

/*.item-headers, .item-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-headers p, .item-row div, .item-row p{
    width: 25%;
}*/