html{
    font-size: 16px;
   
}

*, *:before, *:after {
  box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;

}

.container{
    background-color: grey;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.product{
    width: 250px;
    height: 400px;
    padding: 10px;
    margin: 5px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 2px;
}

.cart {
   position:fixed;
   /*left:0px;*/
   /*margin 0px auto;*/
   bottom:0px;
   height:60%;
   width:89%;
   padding: 10px;
   background:white;
}

.cart-image img{
    height: 200px;
    width: 200px;
}

.cart-contents{
     display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cart-items{
    /*margin-left: 20px;*/
    width: 70%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

/*table, th, td {
    border: 1px solid black;
}*/

th, td{
    border-bottom: 1px solid #ddd;
}

td, th {
    /*height: 50px;*/
    vertical-align: top;
    padding: 10px;
    text-align: left;
}

td p{
    margin:0;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 40%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 15%;
}

thead th:nth-child(5) {
  width: 15%;
}

tfoot td{
    text-align: right;
}

.maroon{
    display: inline-block;
    color:maroon;
    font-weight: bold;
}

.bold{
    font-weight: bold;
    display: inline-block;
}

.blue{
   color:darkblue;
    font-weight: bold;
    font-size: 0.8rem;
}

.call-to-action{
    width:30%;
     display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.keep-shopping{
    width: 80%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: rgba(220,220,220, 0.1);
    border-radius: 5px;
    /*display: flex;
    justify-content: center;
    flex-wrap: wrap;*/
}

.remove{
    color: red;
    background: transparent;
    border: 1px solid red;
    border-radius: 2px;
    width: 80px;
}

.drop-down select{
    width: 80%;
    border: 1px solid grey;
    border-radius: 2px;
    background: transparent;
}

.keep-shopping-btn{
    width: 80%;
    border-radius: 2px;
    border: 1px solid goldenrod;
    background-color: white;
    color: goldenrod;
}

.proceed-btn{
    width: 80%;
    border-radius: 2px;
    border: 1px solid blue;
    background-color: white;
    color: blue;
}

.line{
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    border-color: #ddd;     
}

.or{
    margin: 10px auto;  
}