html{
    font-size: 16px;
   
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container{
    background-color: grey;
    width: 400px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product{
    width: 250px;
    height: 400px;
    padding: 10px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}